<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
   
    <add name="AssignuserConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Assign2user.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages masterPageFile="~/ass2/MasterPage.master"/>
    <authentication mode="Forms">
      <forms name="ass" path="/" loginUrl="~/ass2/login.aspx" defaultUrl="ass2/index.aspx"
        protection="All" timeout="10"/>

    </authentication>

  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="from@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="baolixiang900818@gmail.com" password="anti900818" />
        <!-- if has 'defaultCredentials="true"' , using Gmail can not send success -->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>